<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">

   <head>
      <title>物流计算器</title>
      <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
      <!-- 引入 Select2 -->
      <link href="stylesheets/select2.min.css" rel="stylesheet">
      
      <!-- 特殊自定义样式 -->
      <style type="text/css">
		/* 重写panel底边，使总重量和总体积离输入框距离更近 */
		.panel {
		    margin-bottom: 8px;
		}
      </style>
   </head>
 
   <body>

	  <!-- 导航  改为响应式-->
     <nav class="navbar navbar-default  hidden-sm hidden-xs" role="navigation">
	   <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" 
	         data-target="#example-navbar-collapse">
	         <span class="sr-only">切换导航</span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-th"></i> 计算器</a>
	   </div>
	   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      	<ul class="nav navbar-nav">
         <li class="active"><a href="#">好彩头物流计算器</a></li>
         <li>
	         <a ng-click="about()" style="cursor: pointer;">
	         <i class="glyphicon glyphicon-question-sign"></i> 说明
	         </a>
         </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <i class="glyphicon glyphicon-pencil"></i> 版本 V1.4<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">版权所有：唐</a></li>
            </ul>
         </li>
      </ul>
   </div>
</nav>
      
      <!-- 主界面 -->
      <div class="container">
			<!-- 左侧栏 -->
            <div class="col-sm-4">
            
			   <!-- 查询器Panel -->
               <div class="panel panel-default hidden-sm hidden-xs">
                <div class="form-group">
            	<button type="button" class="btn btn-primary form-control" data-toggle="collapse" 
  					data-target="#query">
  					<i class="glyphicon glyphicon-search"></i>
  					查询器</button>
				</div>
               <div id="query" class="collapse">
               <div class="panel panel-body">
                    <label>查询产品</label>
					<div class="form-group form-inline">
	  					<select id="queryProduct" class="form-control" style="width:100%" ng-model="queryProduct" ng-options="product.name for product in productList">
	  						<option value=""></option>
  						</select>
 					</div>
               </div>
               </div>
			 </div>
			 
			<!-- 数据表Panel -->
			<div class="panel panel-default  hidden-sm hidden-xs">
            		<div class="form-group">
              	   		<button class="btn btn-warning btn-block" data-toggle="collapse" data-target="#data">
              	      <i class="glyphicon glyphicon-list-alt"></i> 数据表</button>
              	    </div>
	            <div id="data" class="collapse in">
             		<div class="panel panel-body">
				<table class="table table-bordered table-striped table-condensed table-hover table-responsive" >
					<thead>
						<tr>
							<th style="text-align: center;">种类</th>
							<th style="text-align: center;" >尺寸(cm)</th>
							<th style="text-align: center;">重量(kg)</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="product in productList">
							<td align="center">{{product.name}}</td>
							<td align="center">{{product.size}}</td>
							<td align="center">{{product.weight}}</td>
						</tr>
					</tbody>
				</table>
					</div>   
              	</div>
             </div>
            </div>
            
            
			<!-- 中右栏 -->
            <div class="col-sm-12 col-xs-12 col-md-8">
				  <!--  计算器核心界面 -->
        		<div class="panel panel-default">
        		  <div class="form-group">
            	    <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#calc">
            	    <i class="glyphicon glyphicon-yen"></i>
            	    计算器</button>
            	  </div>
            	  
                  <div id="calc" class="collapse in">
                  
                  	<div class="panel panel-body">
                  		<div class="form-group">
                  			<div class="row">
	                  			<div class="col-xs-3" ng-repeat="product in productList">
	                  				<label class="control-label">{{product.name}}</label>
	                  				<input type="number" class="form-control" ng-change="calculator()" ng-model="product.number"/>
	                  			</div>
	                  			<div class="col-sm-6"></div>
	                  			<div class="col-xs-3">
		                  			<label class="control-label">重置数据</label>
		                  			<button class="btn btn-primary btn-block" ng-click="reset()">清空</button>
                  				</div>
                  			</div>
                  		</div>
                 	</div>
                 	
            			<div class="panel panel-body">
            				<div class="form-group">
                  			<div class="col-xs-6 well">
								<div class="input-group">
								   <span class="input-group-btn"><button class="btn btn-default" type="button">总体积 </button></span>
								   <input type="text" class="form-control" readonly="readonly" ng-model="totalVolume">
								   <span class="input-group-addon">m<sup>3</sup></span>
								</div>
                  			</div>
                  			<div class="col-xs-6 well">
							   <div class="input-group">
							         <span class="input-group-btn"><button class="btn btn-default" type="button">总重量 </button></span>
								  	 <input type="text" class="form-control" readonly="readonly" ng-model="totalWeight">
								  	 <span class="input-group-addon">kg</span>
								</div>
                  			</div>
                  			</div>
            			</div>
            		
            		</div>
           		 </div>      
         		  <div class="panel-foot">
         		  	
				  </div>
         	</div>
      </div>
      
	  <!-- 弹出式模态框  -->
	  <div class="modal fade" id="about" data-backdrop="static"
			style="display: none;" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">{{modalTitle}}</h4>					
					</div>
					<div class="modal-body">
						{{aboutText}}
					</div>
				</div>
			</div>
		</div>
	  
	  
	  
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="javascripts/jquery-1.11.1.min.js"></script> 
      <!-- 包括所有已编译的插件 -->
      <script src="javascripts/bootstrap.min.js"></script>
      <!-- 包括AngularJs插件 -->
      <script src="javascripts/angular.min.js"></script>
      <!-- 包括Select2插件 -->
      <script src="javascripts/select2.min.js"></script>
      
      <script>
		var app = angular.module('myApp', []);
	
		app.controller('myCtrl', function($scope,$filter) {
		    $scope.productList =[
		                         { id: 1, name: '2.5kg蒸蛋糕', size: '41*24*21',volume:0.020664,weight:2.5,number:0}, 
		                         { id: 2, name: '2.5kg三明治', size: '41*25*22',volume:0.02255,weight:2.5,number:0}, 
		                         { id: 3, name: '纸柜', size: '90*81*25',volume:0.18225,weight:22,number:0}, 
		                         { id: 4, name: '帐篷', size: '147*20*20',volume:0.0558,weight:17,number:0}, 
		                         { id: 5, name: '水杯', size: '34*34*29',volume:0.033524,weight:10,number:0},
		                         { id: 6, name: '促销台', size: '83*71*35',volume:0.206255,weight:35,number:0},
		                         { id: 7, name: '1kg三明治', size: '33*21*20',volume:0.01386,weight:1.3,number:0},
		                         { id: 8, name: '1.5kg肉松饼', size: '63*40*30',volume:0.0756,weight:7,number:0},
		                         { id: 9, name: '2.5kg肉松饼', size: '34*23*17',volume:0.013294,weight:3.2,number:0},
		                         ];
		    
		    select2();
		   	
		    //使用说明按钮
		    $scope.about = function(){
		    	$scope.modalTitle = "使用说明";
		    	showStaffModal();
		    }
		    
		    $scope.aboutText = '暂无说明';
		    
		    //----------------------激活模态框------------------------
			function showStaffModal() {
				$('#about').modal('show', {
					backdrop : 'static'
				});
			}
		    
		    //---------------------统计方法---------------------
		   	$scope.calculator = function() {
		   		var totalVolume=0;
		   		var totalWeight=0;
		   		
		   		$($scope.productList).each(function(index,element){
		   			totalVolume += (element.number * element.volume);
		   			totalWeight += (element.number * element.weight);
		    	})
		    	$scope.totalVolume = $filter('number')(totalVolume,2);
		   		$scope.totalWeight = $filter('number')(totalWeight,0);
		   	}
		   	
		    //---------------------重置按钮--------------------------
		    $scope.reset=function(){
		    	//遍历清空数据
		    	$($scope.productList).each(function(index,element){
		    		element.number = 0;
		    	})
		    	$scope.totalVolume = 0;
		    	$scope.totalWeight = 0;
		    }
		   
		    //-------------------调用select2插件---------------------
			 function select2(){
				setTimeout(function() {
				   $("#queryProduct").select2({
				          placeholder: '请选择所属路段',
				           allowClear: true,
				            language: "zh-CN"
				    }).off("select2:select").on("select2:select", function(e) {
				            $scope.$apply();
				        });
				  }, 0);
		 	 }
		});
		
	  </script>
      
   </body>
</html>

    